:root {
  --primary-white: #eeeeee;
  --light-gray: #686d76;
  --primary-dark: #373a40;
  --primary-orange: #dc5f00;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
}
body {
  background-color: var(--primary-dark);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
  width: 70%;
}

.row {
  display: flex;
}
.col {
  width: 100%;
}
img {
  width: 100%;
}
h3 {
  color: var(--primary-white);
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-size: 30px;
  align-self: flex-start;
}
h2 {
  color: var(--primary-white);
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-size: 38px;
  align-self: flex-start;
}
h1 {
  color: var(--primary-white);
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-size: 40px;
}
p {
  color: var(--primary-white);
  line-height: 30px;
  font-size: 20px;
  align-self: flex-start;
}
button {
  padding: 20px;
  margin: 20px 0;
  cursor: pointer;
  background-color: var(--primary-dark);
  border: 2px solid var(--primary-white);
  font-size: 20px;
  border-radius: 26px;
  font-weight: 500;
  align-self: flex-start;
  color: var(--primary-white);
  transition: 0.5s ease;
}
button:hover {
  outline: 1px solid var(--primary-dark);
  background-color: var(--primary-white);
  color: var(--primary-dark);
}
.tech-btns-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.tech-btns {
  background-color: var(--primary-white);
  padding: 16px;
  margin: 8px 10px;
  border-radius: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (width < 1100px) {
  .container {
    max-width: auto;
    width: 90%;
  }
}
